---
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<div slot="below-header">
		<h2>about me</h2>
		<p>19 years old, Australia</p>
	</div>
	<p>
		<video width="128" height="128" autoplay>
			<source
				src="https://files.catbox.moe/2mtfwo.webm"
				type="video/webm"
			/>
		</video>
	</p>
</Layout>
