---
import Layout from "@layouts/Layout.astro";
---

<script src="@components/blenderScript.ts"></script>
<Layout>
	<div slot="below-header">
		<h2>Blender Projects</h2>
	</div>

	{
		/*<modelView
		model="zutomayo.glb"
	/>*/
	}
	<br /><br />
	<div id="blender-container"></div>
</Layout>
<style>
	#blender-container {
		height: 30em;
		width: 46.875em;
	}

	@media (max-width: 768px) {
		#blender-container {
			height: 20em;
			width: 100%;
		}
	}
</style>
