---
import Tabris from "@assets/1tabris.webp";
import April from "@assets/april.webp";
import AniListAPI from "@components/aniListAPI.astro";
import Friend from "@components/friend.astro";
import Friends from "@components/friends.astro";
import LastFMGrid from "@components/lastFMGrid.astro";
import Layout from "@layouts/Layout.astro";
import Grid from "@components/grid.astro";
import GridItem from "@components/gridItem.astro";
import Image from "astro/components/Image.astro";
---

<Layout
	title="hi, i'm <mark>caitlyn!</mark>"
	subtitle="19 years old, Australia"
>
	<sub>
		A girl who can't program but can do some other stuff decently well. You
		can find me around the web.
	</sub>
	<hr />
	<section>
		<h3>Recent Manga</h3>
		<AniListAPI />
		<sub>
			You can find more on my
			<a class="link" href="https://anilist.co/user/aussieauntie/"
				>AniList</a
			>
		</sub>
	</section>
	<section>
		<h3>Recent Tracks</h3>
		<LastFMGrid />
		<sub>
			You can find more on my
			<a class="link" href="https://www.last.fm/user/lightafterruin"
				>Last.fm</a
			>
		</sub>
	</section>

	<Grid title="Projects">
		<GridItem
			title="This website"
			description="This poorly built site."
			icon="/avatar.png"
			link="https://github.com/fielstamper/caitlyn.moe"
		/>
		<GridItem
			title="kosuka.dev"
			description="My first (now down) site."
			icon="/old_avatar.jpg"
			link="https://github.com/fielstamper/kosuka.dev"
		/>
	</Grid>

	<Grid title="Miscellaneous Creations">
		<GridItem
			title="Nira Zutomayo 3D Model"
			description="My first self-made model on Blender."
			icon="/nira_chan_by_chelliopee.jpg"
			link="/blender"
		/>
		<GridItem />
	</Grid>
	<h3>Cute People</h3>
	<div id="container88x31">
		<a href="/88x31.png">
			<Image src="/88x31.png" alt="my 88x31" width="88" height="31" />
		</a>
		<a href="https://vendicated.dev/">
			<Image src="/ven88x31.gif" alt="vee" width="88" height="31" />
		</a>
		<a href="https://uncutified.moe/">
			<Image
				src="/recutified88x31.png"
				alt="lexy"
				width="88"
				height="31"
			/>
		</a>
		<a href="https://khcrysalis.dev/">
			<Image src="/samara88x31.png" alt="samara" width="88" height="31" />
		</a>
		<a href="https://wear.dev/">
			<Image src="/wear88x31.gif" alt="wear" width="88" height="31" />
		</a>
		<a href="https://worf.win/">
			<Image src="/worf88x31.gif" alt="worf" width="88" height="31" />
		</a>
	</div>

	<Friends>
		<Friend
			title="ilmp"
			href="https://codeberg.org/paige"
			pfp="https://codeberg.org/paige.png"
		/>
		<Friend
			title="my favorite chud"
			href="https://vendicated.dev/"
			pfp="https://github.com/Vendicated.png"
		/>
		<Friend
			title="alyalyalyalyalyalyalyalyalya"
			href="https://www.ankle.lol/"
			pfp={April}
		/>
		<Friend
			title="I just kept on retyping something to get a name which sounded good to me"
			href="https://khcrysalis.dev/"
			pfp="https://avatars.githubusercontent.com/u/97859147?v=4"
		/>
		<Friend
			title="-# the :rini:"
			href="https://github.com/rniii"
			pfp="https://github.com/rniii.png"
		/>
		<Friend
			title="6k hours tf2"
			href="https://x.com/1tabris"
			pfp={Tabris}
		/>
		<Friend
			title="cutie"
			href="https://uncutified.moe"
			pfp="https://github.com/uncutified.png"
		/>
	</Friends>
</Layout>
