---
import Tabris from "@assets/1tabris.webp";
import April from "@assets/april.webp";
import AniListAPI from "@components/aniListAPI.astro";
import Friend from "@components/friend.astro";
import Friends from "@components/friends.astro";
import LastFMGrid from "@components/lastFMGrid.astro";
import Layout from "@layouts/Layout.astro";
import Grid from "@components/grid.astro";
import GridItem from "@components/gridItem.astro";
---

<Layout>
	<div slot="below-header">
		<h2 id="h2titleindex">
			hi, i'm <span class="accent-color">caitlyn!</span>
		</h2>
	</div>

	<h3>Recent Manga</h3>
	<AniListAPI />
	<br /><br />
	<p>You can find more on my</p>
	<a class="hyperlink" href="https://anilist.co/user/aussieauntie/">AniList</a
	><br /><br />
	<h3>Recent Tracks</h3>
	<LastFMGrid />
	<br />
	<p>You can find more on my</p>
	<a class="hyperlink" href="https://www.last.fm/user/lightafterruin"
		>Last.fm</a
	><br /><br />

	<Grid title="Projects">
		<GridItem
			title="This website"
			description="This poorly built site."
			icon="/avatar.png"
			link="https://github.com/fielstamper/caitlyn.moe"
		/>
		<GridItem
			title="kosuka.dev"
			description="My first (now down) site."
			icon="/old_avatar.jpg"
			link="https://github.com/fielstamper/kosuka.dev"
		/>
		<GridItem />
		<GridItem />
	</Grid>

	<Grid title="Miscellaneous Creations">
		<GridItem
			title="Nira Zutomayo 3D Model"
			description="My first self-made model on Blender."
			icon="/nira_chan_by_chelliopee.jpg"
			link="/blender"
		/>
		<GridItem />
	</Grid>

	<h3>Cute People</h3>

	<Friends>
		<Friend
			title="ilmp"
			href="https://codeberg.org/paige"
			pfp="https://codeberg.org/paige.png"
		/>
		<Friend
			title="my favorite chud"
			href="https://vendicated.dev/"
			pfp="https://github.com/Vendicated.png"
		/>
		<Friend
			title="alyalyalyalyalyalyalyalyalya"
			href="https://www.ankle.lol/"
			pfp={April}
		/>
		<Friend
			title="I just kept on retyping something to get a name which sounded good to me"
			href="https://khcrysalis.dev/"
			pfp="https://avatars.githubusercontent.com/u/97859147?v=4"
		/>
		<Friend
			title="-# the :rini:"
			href="https://github.com/rniii"
			pfp="https://github.com/rniii.png"
		/>
		<Friend
			title="6k hours tf2"
			href="https://x.com/1tabris"
			pfp={Tabris}
		/>
		<Friend
			title="cutie"
			href="https://uncutified.moe"
			pfp="https://github.com/uncutified.png"
		/>
	</Friends>
</Layout>
