<div id="albums">
    <slot />
</div>
<style>
    #albums {
        height: 6em;
        display: flex;
        gap: 0.6em;
        margin-bottom: 10px;
        align-items: center;
    }

    @media (max-width: 768px) {
        #albums {
            height: 7em;
            display: flex;
            gap: 0.25em;
            padding: 5px;
            margin: auto;
        }
    }
</style>

<script>
    const albums = document.getElementById("albums")!;

    for (let i = albums.children.length; i > 1; i--) {
        albums.appendChild(albums.children[(Math.random() * (i - 0)) | 0]);
    }
</script>
