<div id="albums">
	<slot />
</div>
<style>
	#albums {
		height: 6em;
		display: flex;
		gap: 0.6em;
		margin-bottom: 10px;
		align-items: center;
		justify-content: space-around;
	}

	@media (max-width: 768px) {
		#albums {
			height: 7em;
			display: flex;
			justify-content: center;
			gap: 0.25em;
			flex-wrap: none;
			overflow-x: scroll;
			overflow-y: none;
		}
	}
</style>

<script>
	document.addEventListener("astro:page-load", () => {
		const albums = document.getElementById("albums");
		if (!albums) return;
		for (let i = albums.children.length; i > 1; i--) {
			albums.appendChild(albums.children[(Math.random() * (i - 0)) | 0]);
		}
	});
</script>
