<br />
<div id="friends">
	<slot />
</div>
<style>
	h3 {
		margin-top: 2rem;
		margin-bottom: 0.7rem;
	}
	#friends {
		display: grid;
		place-items: center;
		gap: 0.7rem;
		grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
	}
</style>

<script>
	const friends = document.getElementById("friends")!;
	const first = friends.firstElementChild!;

	for (let i = friends.children.length; i > 1; i--) {
		friends.appendChild(friends.children[(Math.random() * (i - 0)) | 0]);
	}
</script>

<style>
	#friends {
		background: var(--grey-2);
		box-shadow: var(--shadow-low);
		border: 1px solid light-dark(transparent, inherit);
		color: light-dark(black, var(--text));
		border-radius: 8px;
		border: 1px solid var(--grey-3);
		padding: 0.5rem;
		transition: all 0.25s cubic-bezier(0.17, 0.85, 0.29, 0.95);
		overflow: hidden;
	}
</style>
<br />
