<h3>Cute People</h3>
<div id="friends">
	<slot />
</div>
<style>
	h3 {
		margin-top: 2rem;
		margin-bottom: 0.7rem;
	}
	#friends {
		display: flex;
		gap: 0.7rem;
		flex-wrap: wrap;
	}
</style>

<script>
	const friends = document.getElementById("friends")!;
	const first = friends.firstElementChild!;

	for (let i = friends.children.length; i > 1; i--) {
		friends.appendChild(friends.children[(Math.random() * (i - 0)) | 0]);
	}

	friends.insertBefore(first, friends.firstChild);
</script>
