---
const { title } = Astro.props;
---

{title && <h3>{title}</h3>}
<div aria-label={title ?? "A grid"}>
	<slot />
</div>
<style>
	div {
		gap: 0.5rem;
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
</style>
