<div id="lastfm-grid"></div>

<script>
    const LASTFM_KEY = "e2567caa43c5b556780a6470968e8bb1";

    fetch(
        "https://ws.audioscrobbler.com/2.0/?method=user.getrecenttracks&user=lightafterruin&api_key=e2567caa43c5b556780a6470968e8bb1&extended=1&format=json&limit=3",
    )
        .then((response) => response.json())
        .then((jsonData) => {
            const lastfmGrid = document.getElementById("lastfm-grid");
            const tracks = jsonData.recenttracks.track;

            for (const track of tracks) {
                const trackDiv = document.createElement("div");
                trackDiv.className = "track";

                const trackNameP = document.createElement("p");
                trackNameP.textContent = track.name;
                trackNameP.classList.add("example");
                console.log(trackNameP.classList);

                const trackImg = document.createElement("img");
                trackImg.src = track.image[1]["#text"];

                trackDiv.append(trackNameP, trackImg);
                lastfmGrid.append(trackDiv);
            }
        });
</script>

<style>
    #lastfm-grid {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        width: 46.875em;
        align-items: center;
    }
</style>
