---
import Caitlyn from "../assets/caitlyn.png";
import Image from "astro/components/Image.astro";
---

<a href="https://x.com/lililjiliijili/status/996590059968081920">
    <Image
        src={Caitlyn}
        alt="My pfp"
        width={500}
        fetchpriority="high"
        widths={[240, 540, 720, Caitlyn.width]}
        sizes={`(max-width: 360px) 240px, (max-width: 720px) 152px, (max-width: 1600px) 152px, ${Caitlyn.width}px`}
    />
</a>
<style>
    img {
        width: 10em;
        height: 10em;
        margin-top: 2em;
        border-radius: 8px;
        transition-property: opacity;
        transition-duration: 0.25s;
    }

    @media (max-width: 768px) {
        img {
            height: 7em;
            width: 7em;
            margin-top: 5.5em;
            margin-left: -7em;
        }
    }
    img:hover {
        opacity: 40%;
    }
</style>
