---
import Caitlyn from "../assets/caitlyn.png";
---

<a href="https://x.com/lililjiliijili/status/996590059968081920">
    <img src={Caitlyn.src} />
</a>
<style>
    img {
        width: 9.5em;
        height: 9.5em;
        margin-top: 2em;
        border-radius: 8px;
        transition-property: opacity;
        transition-duration: 0.25s;
    }

    img:hover {
        opacity: 50%;
    }
</style>
