<a href="/readFrieren">
    <img src="/src/assets/caitlynFrieren.png"/>
</a>
<style>
    img {
        width: 9.5em;
        height: 9.5em;
        margin-top: 2em;
        border-radius: 8px;
        transition-property: opacity;
        transition-duration: 0.25s;
    }

    img:hover {
        opacity: 50%;
    }
</style>