---
import "@styles/global.css";
import Header from "@components/header.astro";
import HeaderItem from "@components/headerItem.astro";
import { ClientRouter } from "astro:transitions";
import ProfilePicture from "@components/profilePicture.astro";
import CherryBlossom from "@assets/cherryblossom.png";
import DarkIcon from "@assets/icons/theme_dark.svg";
import LightIcon from "@assets/icons/theme_light.svg";
import SystemIcon from "@assets/icons/theme_system.svg";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content="loser" />
		<link rel="canonical" href="https://caitlyn.moe" />
		<link rel="preload" href="/assets/fonts/Nunito.ttf" as="font" />
		<meta name="robots" content="index, follow" />
		<meta name="theme-color" content="#FFE0F9" />
		<meta name="twitter:image" /><meta
			content="caitlyn's site"
			name="twitter:title"
		/><meta content="loser" name="twitter:description" />
		<title>caitlyn's site</title>
		<link rel="icon" href={CherryBlossom.src} />

		<ClientRouter />
	</head>

	<body>
		<div id="header-box">
			<div>
				<Header>
					<HeaderItem title="Home" href="/" />
					<HeaderItem title="About" href="/about" />
					<HeaderItem title="Contact" href="/contacts" />
					<div id="theme-switch">
						<label class="theme-label">
							<input
								type="radio"
								name="theme"
								value="system"
								id="theme-system"
							/>
							<SystemIcon />
						</label>
						<label class="theme-label">
							<input
								type="radio"
								name="theme"
								value="light"
								id="theme-light"
							/>
							<LightIcon />
						</label>
						<label class="theme-label">
							<input
								type="radio"
								name="theme"
								value="dark"
								id="theme-dark"
							/>
							<DarkIcon />
						</label>
					</div>

					<style>
						:root:has(#theme-dark:checked) {
							color-scheme: dark;
						}
						:root:has(#theme-light:checked) {
							color-scheme: light;
						}
					</style>
				</Header>
				<slot name="below-header" />
				<p style="margin-top: -30px; margin-bottom: 0;">
					19 years old, Australia
				</p>
			</div>
			<div>
				<ProfilePicture />
			</div>
		</div>

		<p id="splash-subtext" style="width: 100%; margin-top: 15px;">
			A girl who can't program but can do some other stuff decently well.
			You can find me around the web.
		</p>
		<hr />
		<br />
		<slot />
		<style>
			#header-box {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
			}
		</style>
	</body><script>
		document.addEventListener("astro:page-load", () => {
			const THEME_KEY = "theme";
			const themeSystem = document.getElementById(
				"theme-system",
			) as HTMLInputElement;
			const themeLight = document.getElementById(
				"theme-light",
			) as HTMLInputElement;
			const themeDark = document.getElementById(
				"theme-dark",
			) as HTMLInputElement;

			const themes: Record<string, HTMLInputElement> = {
				dark: themeDark,
				light: themeLight,
				system: themeSystem,
			};

			function updateTheme(theme: string | null) {
				if (theme) localStorage.setItem(THEME_KEY, theme);
				else localStorage.removeItem(THEME_KEY);
				(themes[theme ?? "system"] ?? themeSystem).checked = true;
			}

			Object.entries(themes).forEach(([key, input]) => {
				input.addEventListener("change", () => {
					if (input.checked)
						updateTheme(key === "system" ? null : key);
				});
			});

			updateTheme(localStorage.getItem(THEME_KEY));
		});
	</script>
</html>
