---
import "../styles/global.css";
import Header from "../components/header.astro";
import HeaderItem from "../components/headerItem.astro";
import { ClientRouter } from "astro:transitions";
import Caitlyn from "../assets/caitlyn.png";
import ProfilePicture from "../components/profilePicture.astro";
import CherryBlossom from "../assets/cherryblossom.png";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content="loser" />
		<link rel="canonical" href="https://caitlyn.moe" />
		<link rel="preload" href="/assets/fonts/Nunito.ttf" as="font" />
		<meta name="robots" content="index, follow" />
		<meta name="theme-color" content="f7cdf7" />
		<meta content={Caitlyn.src} name="twitter:image" /><meta
			content="caitlyn's site"
			name="twitter:title"
		/><meta content="loser" name="twitter:description" />
		<title>caitlyn's site</title>
		<link rel="icon" href={CherryBlossom.src} />

		<ClientRouter />
	</head>

	<body>
		<div id="header-box">
			<div>
				<Header>
					<HeaderItem title="Home" href="/" />
					<HeaderItem title="About" href="/about" />
					<HeaderItem title="Contact" href="/contacts" />
					<div id="theme-switch">
						<label class="theme-label">
							<input
								type="radio"
								name="theme"
								value="system"
								id="theme-system"
							/>
							<svg
								xmlns="http://www.w3.org/2000/svg"
								height="30px"
								viewBox="0 -960 960 960"
								width="30px"
								fill="#e3e3e3"
								><path
									d="M320-120v-80h80v-80H160q-33 0-56.5-23.5T80-360v-400q0-33 23.5-56.5T160-840h640q33 0 56.5 23.5T880-760v400q0 33-23.5 56.5T800-280H560v80h80v80H320ZM160-360h640v-400H160v400Zm0 0v-400 400Z"
								></path></svg
							>
						</label>
						<label class="theme-label">
							<input
								type="radio"
								name="theme"
								value="light"
								id="theme-light"
							/>

							<svg
								height="30px"
								viewBox="0 -960 960 960"
								width="30px"
								fill="#e3e3e3"
								xmlns="http://www.w3.org/2000/svg"
								><path
									d="M480-280q-83 0-141.5-58.5T280-480q0-83 58.5-141.5T480-680q83 0 141.5 58.5T680-480q0 83-58.5 141.5T480-280ZM200-440H40v-80h160v80Zm720 0H760v-80h160v80ZM440-760v-160h80v160h-80Zm0 720v-160h80v160h-80ZM256-650l-101-97 57-59 96 100-52 56Zm492 496-97-101 53-55 101 97-57 59Zm-98-550 97-101 59 57-100 96-56-52ZM154-212l101-97 55 53-97 101-59-57Z"
								></path></svg
							>
						</label>
						<label class="theme-label">
							<input
								type="radio"
								name="theme"
								value="dark"
								id="theme-dark"
							/>
							<svg
								xmlns="http://www.w3.org/2000/svg"
								height="30px"
								viewBox="0 -960 960 960"
								width="30px"
								fill="#e3e3e3"
								><path
									d="M480-120q-150 0-255-105T120-480q0-150 105-255t255-105q14 0 27.5 1t26.5 3q-41 29-65.5 75.5T444-660q0 90 63 153t153 63q55 0 101-24.5t75-65.5q2 13 3 26.5t1 27.5q0 150-105 255T480-120Z"
								></path></svg
							>
						</label>
					</div>

					<style>
						:root:has(#theme-dark:checked) {
							color-scheme: dark;
						}
						:root:has(#theme-light:checked) {
							color-scheme: light;
						}
					</style>
				</Header>
				<slot name="below-header" />
			</div>
			<div>
				<ProfilePicture />
			</div>
		</div>

		<br />
		<p>
			A girl who can't program but can do some other stuff decently well.
			You can find me around the web.
		</p>
		<hr />
		<br />
		<slot />
		<style>
			#header-box {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
			}
		</style>
	</body><script>
		document.addEventListener("astro:page-load", () => {
			const THEME_KEY = "theme";
			const themeSystem = document.getElementById(
				"theme-system",
			) as HTMLInputElement;
			const themeLight = document.getElementById(
				"theme-light",
			) as HTMLInputElement;
			const themeDark = document.getElementById(
				"theme-dark",
			) as HTMLInputElement;

			const themes: Record<string, HTMLInputElement> = {
				dark: themeDark,
				light: themeLight,
				system: themeSystem,
			};

			function updateTheme(theme: string | null) {
				if (theme) localStorage.setItem(THEME_KEY, theme);
				else localStorage.removeItem(THEME_KEY);
				(themes[theme ?? "system"] ?? themeSystem).checked = true;
			}

			Object.entries(themes).forEach(([key, input]) => {
				input.addEventListener("change", () => {
					if (input.checked)
						updateTheme(key === "system" ? null : key);
				});
			});

			updateTheme(localStorage.getItem(THEME_KEY));
		});
	</script>
</html>
